body {
    width: 100%;
}
.hll_listBox{
	width: 996px;
	display: flex;
	margin: 0 auto;
}
.sorad_list li{
	overflow: hidden;
	float: left;
	margin:0 0 0 6px;
}
.sorad_list ul {
	width: 996px;
	margin: 0 auto;
	padding: 0px;
	margin: 0px;
	/* margin: 0 auto; */
}
 .sorad_list .zstu {
    height: 270px;
    overflow: hidden;
}
.sorad_list .xx {
	height: 52px;
	width: 325px;
	display: inline-block;
	background: #87d0e3;
}
.sorad_list .xx  a{
	text-decoration: none;
	color: #fff;
	display: block;
	height: 55px;
}
.xx{
	display: block;
	background-color:#6BC4DF ;
	width: 325px;
	
}
 ul{
	display: block;
}
.sorad_list .xx p {
	font-size: 13px;
    cursor: pointer;
    width:100%;
	color: #fff;
    padding: 5px 0px 0px 15px;
	text-align: -moz-left;
	margin: 0 0 0 0;
	margin-top: 1px;
    /* line-height: 35px; */
}
.xx b{
	cursor: pointer;
	padding-right: 20px;
	vertical-align: middle;
	color: #fff;
	overflow: hidden;
	display: inline-block;
	width: 80px;
	float: right;
	height: 20px;
	font-size: 13px;
	text-align: right;
	padding: 5px 0 0 0;
	margin-right: 20px;
}
img{
	border: 0;
	}
.xx label{
	cursor: pointer;
    float: left;
    width: 205px;
    overflow: hidden;
    height: 20px;
    padding: 5px 0 0 15px;
    font-size: 13px;
	color: #fff;
}
.zstu:hover img{
	transform: scale(1.1,1.1);
	transition: transform 0.5S;
}
