.h_head{
    width:996px;
	margin: 0 auto;
	height: 115px;
}
.logo{
	width: 20%;
	height: 40%;
	margin-top: 20px;
	float:left;
}
.h_login{
	color: #6BC4DF;
	text-align: right;
	margin-right: 5px;
	margin-top: 10px;
	font-size: 14px;
}
.h_login label{
	margin-right: 10px;
}
.h_login a{
	color: #6BC4DF;
	text-decoration: none;
}
.dz_lo a{
	color: #6BC4DF;
	text-decoration: none;
}
.dz,.dz_lo{
	font-weight: 400;
}
.dz a{
	color: #6BC4DF;
	text-decoration: none;
}
.h_login span{
	margin-right: 10px;
}
.head_right{
	width: 80%;
	float:left;
}
.head_right .baner span{
	width: 100%;
}
.baner{
	color: #6BC4DF;
	width:70%;
	display:flex;
	justify-content: space-between;
	height: 25px;
	line-height: 25px;
}
.baner a{
	color: #6BC4DF;
	text-decoration: none;
}
.row-one{
	width: 20%;
	border-right: #6BC4DF 1px solid;
	height: 50px;	
}
.cake{
	position: relative;
}
.mask {
	width:120px;
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	margin-left:-30px;
}
.cake:hover .mask {
	display: block;
}
.mask ul{
	list-style: none;
}

.baner ul{
	list-style: none;
}
.h_phone{
	color: #6BC4DF;
	width:30%;
	float: right;
	text-align: right;
	margin-right: 60px;
	margin-top: -25px;
	font-size: 14px;
}
.h_phone a{
	color: #6BC4DF;
	text-decoration: none;
}
.h_navserch{
	color: #6BC4DF;
	width: 30%;
	text-align: right;
	float: right;
	margin-right:180px;
	font-size: 14px;
	position: relative;
}
.h_navserch input{
	border: 1px solid #6bc4df;
	width: 120px;
	position: absolute;
}



